.chart {
  background-color: #f2f2f2;
  /* background-color: seagreen; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
  width: 82%;
  padding: 42px 0px;
  border-left: 2px solid #d8d8d7;
}

.title-bar-chart {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.progress-bar {
  width: 60%;
  height: 43px;
  margin: 3px 0px;
  position: relative;
}

.progress {
  width: 0%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 1s ease-in-out;
}

.progress-value {
  /* background-color: tomato; */
  position: absolute;
  right: -120px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  color: #163029;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* background: beige;  */
  min-width: 110px !important;
}
.progress-date {
  justify-content: center;
  display: flex;
  min-width: 110px !important;
  text-align: right;
  position: absolute;
  left: -135px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 15px;
  font-weight: 900;
}

body[lang="en"] {
  .chart {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin-left: 14%;
  }
  .progress-value {
    justify-content: flex-start;
  }
  .progress-date {
    justify-content: flex-end;
    align-items: flex-end;
  }
  @media (max-width: 768px) {
    .progress-date {
      justify-content: center;
      display: flex;
      min-width: 110px !important;
      text-align: left;
      position: absolute;
      left: -112px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 8px;
      font-weight: 900;
    }
  }
}

@media (max-width: 768px) {
  .progress-value {
    /* background-color: tomato; */
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    color: #163029;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 10px;
    min-width: 50px !important;
  }
  .progress-date {
    justify-content: center;
    display: flex;
    min-width: 110px !important;
    text-align: right;
    position: absolute;
    left: -80px;
    font-size: 10px;
  }
}
