footer {
  width: 100%;
  height: 152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  width: 50%;
  height: 100%;
}
.right-footer {
  background-color: #163029;
  padding: 0px 55px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease;
}

.right-footer .icon {
  transition: 0.3s ease;
  margin-left: 50px;
}
.right-footer .icon img {
  width: 50px;
}
.right-footer .text p {
  color: #fcb44a;
  margin-bottom: 5px;
}
.right-footer .text h2 {
  color: #ffffff;
  font-weight: 100;
  font-size: 31px;
}

.left-footer {
  padding: 0px 85px;
  width: 50%;
  height: 100%;
  background-color: #d8d8d7;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important    ;
  transition: 0.3s ease;
}
.left-footer .icon {
  transition: 0.3s ease;
  margin-left: 0px;
}
.left-footer .icon img {
  width: 50px;
}
.left-footer .text p {
  margin-bottom: 5px;
}
.left-footer .text h2 {
  font-weight: 100;
  font-size: 31px;
}

.margin-for-footer {
  margin-top: 100px !important;
}

@media screen and (max-width: 768px) {
  footer {
    height: fit-content !important;
    flex-direction: column;
  }

  .right-footer {
    width: 100%;
    min-height: 150px;
    max-height: 150px;
  }

  .right-footer .text h2 {
    font-size: 21px;
  }
  .right-footer .icon img {
    width: 40px;
  }

  .left-footer {
    max-height: 150px;
    min-height: 150px;
    width: 100%;
  }

  .left-footer .text h2 {
    font-size: 21px;
  }
  .left-footer .icon img {
    width: 40px;
  }
}

body[lang="en"] {
  footer img {
    transform: rotate(180deg);
  }
  footer .right-footer {
    justify-content: space-between;
  }
  footer .left-footer {
    justify-content: flex-start;
  }
}
