.hero {
  width: 100%;
  height: 87vh;
  margin-top: 100px;
  position: relative;
}
.hero img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-box-hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box-hero p {
  color: white;
  font-weight: 300 !important;
  font-size: 33px;
}

.text-box-hero h1 {
  color: white;
  font-weight: 700 !important;
  font-size: 85px;
  margin-top: 10px;
  text-align: center;
}

.hero-footer {
  width: 95%;
  position: absolute;
  height: 80px;
  bottom: 0;
  left: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-footer .Home-name {
  min-width: 450px;
  background-color: rgba(0, 0, 0, 0.653);
  height: 100%;
  width: fit-content;
  padding: 25px 25px 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-footer .Home-name .page-name {
  color: white;
}

.hero-footer .Home-name img {
  width: 25px;
  height: 25px;
}

.hero-footer .Home-name .category-name {
  color: white;
}
.Home-download-pdf {
  width: 170px;
  height: 100% !important;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-download-pdf p {
  margin-left: 15px;
}
.img-download-pdf {
  width: 35px !important;
  height: 35px !important;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
    height: 80vh;
    margin-top: 121px;
    position: relative;
  }
  .text-box-hero p {
    color: white;
    font-weight: 300 !important;
    font-size: 23px;
  }

  .text-box-hero h1 {
    color: white;
    font-weight: 700 !important;
    font-size: 75px;
    margin-top: 10px;
    text-align: center;
  }

  .hero-footer {
    left: 0;
    right: 0;
    width: 100% !important;
    height: fit-content;
    flex-direction: column;
  }
  .hero-footer .Home-name {
    min-width: 100% !important;
    max-width: 100% !important;
  }

  .text-box-hero h1 {
    color: white;
    font-weight: 700 !important;
    font-size: 42px;
    margin-top: 10px;
    text-align: center;
  }
  .Home-download-pdf {
    height: 70px !important;
    width: 100% !important;
  }
}
