@font-face {
  font-family: "MyFont";
  src: url("../Assests/Font.ttf") format("woff"),
    /* Modern browsers */ url("../Assests/Font.ttf") format("truetype"); /* Fallback for older browsers */
}
body {
}
* {
  font-family: "MyFont";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f7f7f7;
  line-height: 1.4;
}
a {
  color: #000;
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
.container {
  padding-top: 50px;
  width: 95%;
  /* background-color: red; */
  margin: auto;
}
.container2 {
  padding-top: 50px;
  width: 91%;
  margin: auto;
  overflow: hidden;
}
.container3 {
  padding-top: 50px;
  width: 84%;
  margin: auto;
}

/* Title with icon */
.title-with-icon {
  width: 100%;
  display: flex;
  align-items: center;
}
.title-with-icon img {
  width: 60px;
  margin-left: 20px;
}
.title-with-icon div {
  position: relative;
  top: 8px;
}
/* Title with icon Ends */

/* Title */
.title {
  font-weight: 100 !important;
  width: 88.5%;
  margin: 30px auto;
  font-size: 42px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .title {
    width: 90%;
    font-weight: 100 !important;
    margin: 30px auto;
    font-size: 28px;
    text-align: justify;
  }
}

/* Title Ends */

/* text with border right */

.text-with-border-right {
  position: relative;
  padding-right: 30px;
  margin: 58px 0px !important;
  text-align: justify;
}
.text-with-border-right::before {
  content: "";
  width: 8px;
  background-color: #fcb44a;
  height: 75px;
  top: 0;
  right: 0;
  position: absolute;
}

/* text with border right Ends */

/* Flex text */
.Flex-text {
  width: 88.5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.Flex-text p {
  text-align: justify;
  margin-bottom: 20px;
  font-size: 21px;
}
.Flex-text li {
  text-align: justify;
  margin-bottom: 20px;
  font-size: 21px;
}
.right-colum {
  width: 48%;
}
.left-colum {
  width: 48%;
}

.Flex-text .circle {
  min-width: 6px;
  min-height: 6px;
  max-width: 6px;
  max-height: 6px;
  width: 6px;
  height: 6px;
  border-radius: 500px;
  background-color: black;
  margin-left: 10px;
  position: relative;
  top: 10px;
}
.flex {
  display: flex !important;
}

@media screen and (max-width: 768px) {
  .Flex-text {
    /* width: 100%; */
    flex-direction: column;
  }
  .right-colum {
    width: 100%;
  }
  .left-colum {
    width: 100%;
  }
}

.card-for-left {
  background-color: white;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card-for-left .text-for-left-card h3 {
  font-size: 26px;
}
.card-for-left .text-for-left-card h1 {
  font-size: 50px;
  color: #fcb44a;
  padding: 8px 0px;
}
.card-for-left .img-for-left-card {
  width: 90px;
  height: 90px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a4944;
  border-radius: 50px;
}
.card-for-left .img-for-left-card img {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .card-for-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }
  .card-for-left .text-for-left-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .card-for-left .img-for-left-card {
    margin-bottom: 20px;
  }
}

/* Flex text Ends */

.title-for-table {
  margin-bottom: 40px;
}
