@font-face {
  font-family: "MyFont";
  src: url("../Assests/Font.ttf") format("woff"),
    /* Modern browsers */ url("../Assests/Font.ttf") format("truetype"); /* Fallback for older browsers */
}
body{
}
* {
  font-family: "MyFont";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
body {
  background-color: #f7f7f7;
  line-height: 1.4;
  }
  a {
  color: #000;
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
.container {
  padding-top: 50px;
  width: 91%;
  margin: auto;
}
.container2 {
  padding-top: 50px;
  width: 91%;
  margin: auto;
  overflow: hidden;
}

/* Title with icon */
.title-with-icon {
  width: 100%;
  display: flex;
  align-items: center;
}
.title-with-icon img {
  width: 60px;
  margin-left: 20px;
}
.title-with-icon div {
  position: relative;
  top: 8px;
}
/* Title with icon Ends */

/* Title */
.title {
  width: 88.5%;
  font-weight: 100 !important;
  margin: 30px auto;
  font-size: 43px;
  font-size: 43px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .title {
    width: 90%;
    font-weight: 100 !important;
    margin: 30px auto;
    font-size: 28px;
    text-align: justify;
  }
}

/* Title Ends */

/* text with border right */

.text-with-border-right {
  position: relative;
  padding-right: 30px;
  margin: 58px 0px !important;
}
.text-with-border-right::before {
  content: "";
  width: 7px;
  background-color: #fcb44a;
  height: 95px;
  top: 0;
  right: 0;
  position: absolute;
}

/* text with border right Ends */
