.eight-cards .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.one-card-eight {
  width: 49.5%;
  background-color: white;
  display: flex;
  min-height: 305px;
  padding: 40px 50px;
  margin-bottom: 15px;
}
.right-card-eight {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  top: -3px;
}

.right-card-eight h1 {
  font-size: 47px;
  color: #3a4944;
  padding: 0px 15px 0px 15px;
  border-bottom: 10px solid #fcb44a;
  line-height: 47px;
}
.icon-div-eight {
  width: 120px;
  height: 120px;
  background-color: #f7f7f7;
  border-radius: 500px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-div-eight img {
  width: 100%;
}

.left-card-eight {
  padding-right: 40px;
}

.left-card-eight h2 {
  font-size: 27px;
}

.left-card-eight .text-left-card-eight {
  width: 100%;
  font-size: 22px;
  margin-top: 20px;
}
.quote {
  margin-top: 19px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.quote img {
  margin-top: 3px;
  width: 20px;
  height: 15px;
}
.quote p {
  margin: 0 10px;
  color: #5e6863;
  font-size: 16px;
}
.quote img:nth-of-type(2) {
  transform: scaleX(-1);
}
.title-under-cards {
  font-size: 23px;
}

@media screen and (max-width: 768px) {
  .one-card-eight {
    width: 100%;
    flex-direction: column;
  }
  .right-card-eight {
    position: relative;
    top: 0px;
  }
  .left-card-eight {
    margin-top: 25px;
    padding-right: 0px;
  }
  .text-left-card-eight {
    font-size: 14px;
  }
  .delete {
    display: none;
  }
}

body[lang="en"] {
  .one-card-eight {
    min-height: 340px;
  }
  .left-card-eight {
    padding-right: 0;
    padding-left: 40px;
  }
  .quote img {
    transform: scaleX(-1);
  }
  .quote img:nth-of-type(2) {
    transform: scaleX(1);
  }
}
