.container-man {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  margin-top: 70px;
}

.black {
  /* background-color: black; */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-left: 9%;
}

.red {
  /* background-color: red; */
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  padding-right: 9%;
}

.green {
  /* background-color: green; */
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

@media (max-width: 768px) {
  .container-man {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .black {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-left: 5%;
    padding-right: 5%;
  }

  .red {
    padding-right: 0%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .green {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.imgs-for-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  position: relative;
  /* background-color: firebrick; */
  height: 100%;
}
.tree-man {
  width: 400px;
  margin-right: 70px;
}
.photo-man {
  width: 320px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.text-for-page {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
}
.text-for-page p {
  font-size: 32px;
  display: inline-block; /* Allow text to wrap beside the image */
  line-height: 50px;
  text-align: justify;
}

.text-for-page img {
  margin-left: 7px !important;
  width: 30px;
  height: 25px;
}

/* Banner */

.banner-for-man .container {
  padding-right: 30px;
}
.banner-for-man .container h1 {
  text-align: right !important;
  font-size: 50px;
}
.banner-for-man .container h2 {
  text-align: right !important;
  font-size: 30px;
  margin-top: 5px;
}

@media screen and (max-width: 1420px) {
  .a-word .container {
    flex-direction: column;
  }
  .flex-section {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .tree-man {
    width: 50%;
    margin-right: 70px;
  }
  .photo-man {
    width: 50%;
  }
  .banner-for-man::before {
    display: none !important  ;
  }
  .banner-for-man::after {
    display: none !important  ;
  }

  .banner-for-man .container h1 {
    font-size: 30px;
    position: relative;
    right: 0px;
  }
  .banner-for-man .container h2 {
    font-size: 20px;
    margin-top: 10px;
    position: relative;
    right: 0px;
  }

  .disappear {
    display: none;
  }
  .text-for-page p {
    font-size: 25px;
    display: inline-block; /* Allow text to wrap beside the image */
    line-height: 38px;
    text-align: justify;
    margin-top: 30px;
  }
}

.flex-text-man .container {
  display: flex;
  justify-content: space-between;
}

.title-for-man {
  padding-right: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60%;
  width: 100%;
}


.flex-them {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  width: 49%;
  min-height: 55vh !important;
}
.flex-them div{
  margin-bottom: 20px;
}
.flex-them div p {
  text-align: justify;
  font-size: 20px;
  margin-top: 20px;
}

.flex-them div h3 {
  color: #163029;
  font-size: 22px;
  width: 50%;
}
.flex-them div img {
  width: 35px;
  height: 30px;
  margin-left: 30px;
  position: relative;
  top: -3px;
}

.arrow-style img {
  width: 40%;
}
.arrow-style .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .flex-text-man .container {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: fit-content !important;
    flex-direction: column !important;
  }
  .flex-them {
    min-height: fit-content !important;
    height: fit-content !important;
    max-height: fit-content !important;
    width: 100%;
  }
  .delete {
    display: none;
  }
  #flex-dir {
    flex-direction: column-reverse !important;
  }
  .arrow-style img {
    width: 100%;
  }
}
