.title-for-pie .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-for-pie .container .right-title {
  width: 50%;
}
.title-for-pie .container .right-title .title-with-icon {
  width: 100%;
  margin: 0px !important;
  min-height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
}
.title-for-pie .container .left-title {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* background-color: darkcyan; */
}

@media screen and (max-width: 768px) {
  .title-for-pie .container {
    flex-direction: column;
  }
  .title-for-pie .container .right-title {
    width: 100%;
  }
  .title-for-pie .container .left-title {
    width: 100%;
  }
  .text-with-border-right {
  }
}

.one-colum {
  margin-bottom: 55px;
  width: 100%;
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
.number-and-title {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.number-and-title .number {
  border-bottom: 7px solid #fcb44a;
  padding: 0px 13px 0px 10px;
  margin-left: 25px;
  font-size: 40px;
  line-height: 37px;
}
.number-and-title .title-beside-number {
  font-size: 25px;
}

.chart-and-number {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.number-for-chart {
  margin-right: 20px;
}
.number-for-chart .counter-container3 {
  color: #fcb44a;
  font-size: 28px;
  font-weight: 600;
}
.dis-for-colum {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dis-for-colum p {
  width: 80%;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .one-colum {
    margin-bottom: 55px;
    width: 100%;
    height: fit-content !important;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;
  }
  .number-and-title {
    width: 100%;
  }

  .chart-and-number {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;
  }
  .dis-for-colum {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
  .dis-for-colum p {
    width: 100%;
  }
}

/* Colums end */

.eight-cards .container2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.flex-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.flex-but-not-flex {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card-from-eight {
  width: 32.5%;
  min-height: 450px;
  background-color: white;
  padding: 70px 70px;
  text-align: center;
}
.margin-right {
  margin-right: 28px;
}
.dev-for-img {
  width: 100%;
  height: 300px;
  border: 4px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.dev-for-img img {
  width: 95%;
  height: 120%;
}
.card-from-eight h2 {
  margin-top: 30px;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .card-from-eight {
    width: 100%;
    height: 450px;
    background-color: white;
    padding: 40px 70px;
    text-align: center;
    margin-bottom: 15px;
  }
  .flex-cards {
    margin-bottom: 0px;
  }
  .margin-right {
    margin-right: 0px;
  }
  .title-for-table .container h1 {
    width: 100% !important;
    font-size: 28px !important;
  }
  #force {
    font-size: 25px;
    margin: 0px 0px 0px 0px !important ;
    width: 100%;
  }
}

/* cards end */

.title-for-table .container h1 {
  width: 70%;
  font-size: 40px;
  margin-bottom: 15px;
}
.dev-for-table {
  width: 100%;
  height: 50vh;
  background-color: red;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 0;
  font-size: 16pt;
}
.table4 {
  td {
    color: #163029;
  }
  thead {
    th {
      text-align: right;
      background-color: #3a4944;
      color: #fff;
      border: 0;
      padding: 30px;
      letter-spacing: 1px;
    }
  }

  td {
    border-bottom: 4px solid #f7f7f7;
    background-color: white;
    text-align: center;
  }

  td span {
    text-align: right;
    display: block;
    color: white;
    font-size: 14px;
    padding-top: 5px;
  }

  th {
    text-align: center !important;
    font-weight: bold;
  }

  tr {
    td:nth-child(1),
    th:nth-child(1) {
      text-align: right !important;
      color: #fcb44a;
      background-color: #163029;
      border: 0;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 40px;
      width: 23%;
      font-size: 18px;
    }
  }

  tr:nth-child(8) {
    td {
      background-color: #fcb44a;
      color: #163029;
      border-bottom: 0;
    }
    td:nth-child(1) {
      border-top: 5px solid #f7f7f7;
    }
  }
  tr:last-child td {
    border-bottom: 0 !important;
  }
}

body[dir="rtl"] .table4 {
  th:nth-child(1),
  td:nth-child(1) {
    text-align: right;
  }
}

body[dir="ltr"] .table4 {
  th:nth-child(1),
  td:nth-child(1) {
    text-align: left;
  }
}

@media (max-width: 768px) {
  ul li {
    margin: 1px 0 !important;
  }

  table {
    font-size: 2vw !important;
  }

  .table4 {
    thead th {
      padding: 10px;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 10px 7px;
    }
    td span {
      font-size: 1.7vw;
      padding-top: 2px;
    }
    tr {
      th,
      td {
        letter-spacing: 0 !important;
      }
    }
  }
  body {
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .table4 {
    td {
      padding: 10px 2px !important;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 5px;
    }
    tr td:nth-child(1),
    tr th:nth-child(1) {
      padding: 10px !important;
    }
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  padding: 0;
  font-size: 16pt;
}
.table5 {
  td {
    color: #163029;
  }
  thead {
    th {
      background-color: #3a4944;
      color: #fff;
      border: 0;
      padding: 30px;
      letter-spacing: 1px;
      text-align: center;
    }
  }

  td {
    border-bottom: 4px solid #f7f7f7;
    text-align: center;
    background-color: white;
  }

  td span {
    display: block;
    color: white;
    font-size: 14px;
    padding-top: 5px;
  }

  th {
    font-weight: bold;
  }

  tr {
    text-align: right;
    td:nth-child(1),
    th:nth-child(1) {
      color: #fcb44a;
      background-color: #163029;
      border: 0;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: right;
      padding: 40px;
      width: 23%;
      font-size: 17px;
    }
  }
  tr:last-child td {
    border-bottom: 0 !important;
  }
}

body[dir="rtl"] .table5 {
  th:nth-child(1),
  td:nth-child(1) {
    text-align: right;
  }
}

body[dir="ltr"] .table5 {
  th:nth-child(1),
  td:nth-child(1) {
    text-align: left;
  }
}

@media (max-width: 768px) {
  ul li {
    margin: 1px 0 !important;
  }

  table {
    font-size: 2vw !important;
  }

  .table5 {
    thead th {
      padding: 10px;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 10px 7px;
    }
    td span {
      font-size: 1.7vw;
      padding-top: 2px;
    }
    tr {
      th,
      td {
        letter-spacing: 0 !important;
      }
    }
  }
  body {
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .table5 {
    td {
      padding: 10px 2px !important;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 5px;
    }
    tr td:nth-child(1),
    tr th:nth-child(1) {
      padding: 10px !important;
    }
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 0;
  font-size: 16pt;
}
.table6 {
  td {
    color: #163029;
  }
  thead {
    th {
      background-color: #3a4944;
      color: #fff;
      border: 0;
      padding: 30px;
      letter-spacing: 1px;
    }
  }

  td {
    border-bottom: 4px solid #f7f7f7;
    background-color: white;
    text-align: center;
  }

  td span {
    text-align: right;
    display: block;
    color: white;
    font-size: 14px;
    padding-top: 5px;
  }

  th {
    font-weight: bold;
  }

  tr {
    td:nth-child(1),
    th:nth-child(1) {
      color: #fcb44a;
      text-align: right;
      background-color: #163029;
      border: 0;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 40px;
      width: 23%;
    }
  }
  tr:last-child td {
    border-bottom: 0 !important;
  }
}

body[dir="rtl"] .table6 {
  th:nth-child(1),
  td:nth-child(1) {
    text-align: right;
  }
}

body[dir="ltr"] .table6 {
  th:nth-child(1),
  td:nth-child(1) {
    text-align: left;
  }
}

@media (max-width: 768px) {
  ul li {
    margin: 1px 0 !important;
  }

  table {
    font-size: 2vw !important;
  }

  .table6 {
    thead th {
      padding: 10px;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 10px 7px;
    }
    td span {
      font-size: 1.7vw;
      padding-top: 2px;
    }
    tr {
      th,
      td {
        letter-spacing: 0 !important;
      }
    }
  }
  body {
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .table6 {
    td {
      padding: 10px 2px !important;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 5px;
    }
    tr td:nth-child(1),
    tr th:nth-child(1) {
      padding: 10px !important;
    }
  }
}
