.Certificates .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.none {
  visibility: hidden;
}

.card-from-seven {
  width: 24%;
  padding: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.icon-for-card {
  width: 150px;
  height: 150px;
  background-color: #f7f7f7;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-for-card img {
  width: 93px;
  height: 93px;
}
.card-from-seven h4 {
  margin-top: 30px;
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .none {
    display: none;
  }
  .card-from-seven {
    width: 100%;
  }
}

/* Certificates ends  */

.six-cards .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-from-six {
  width: 32%;
  padding: 40px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 25px;
}
.card-from-six h1 {
  color: #fcb44a;
  font-size: 55px;
  margin-bottom: 2px;
}
.card-from-six p {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .card-from-six {
    width: 100%;
  }
}

/* Three cards */

.three-cards .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card-from-three {
  position: relative;
  padding: 50px 60px;
  background-color: white;
}

.title-for-card-three {
  font-size: 30px;
  position: relative;
}
.title-for-card-three::before {
  content: "";
  position: absolute;
  top: -15%;
  right: -60px;
  width: 10px;
  height: 120%;
  background-color: #fcb44a;
}

.flex-num-and-text {
  display: flex;
  margin-top: 20px;
}
.flex-num-and-text h1 {
  color: #fcb44a;
  font-size: 55px;
}

.diss-for-cards {
  margin-top: 15px;
  color: #3a4944;
  font-size: 25px;
}
.flex-h-cards {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}

.flex-cards-inside {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
}
.card-from-theree-inside {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
}
#width-for-card1 {
  width: 33%;
}
#width-for-card1 .flex-cards-inside {
  justify-content: right !important;
  align-items: right !important;
  display: flex;
  flex-direction: column;
  text-align: right !important;
  width: fit-content;
}
#width-for-card1 .card-from-theree-inside {
  justify-content: right !important;
  align-items: right !important;
  display: flex;
  flex-direction: column;
  text-align: right !important;
  width: fit-content;
}
#width-for-card1 .card-from-theree-inside p {
}
#width-for-card1 .flex-cards-inside {
  margin-top: 30px;
}

#width-for-card2 {
  width: 66%;
}
#width-for-card3 {
  width: 100%;
  margin-top: 20px;
}
#width-for-card3 .flex-h-cards {
  justify-content: space-between;
  width: 90%;
  margin: 30px auto auto auto;
}
#width-for-card3 .flex-cards-inside {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  #width-for-card1 {
    width: 100%;
  }
  #width-for-card2 {
    margin-top: 20px;
    width: 100%;
  }
  #width-for-card3 {
    width: 100%;
    margin-top: 20px;
  }
  #width-for-card3 .flex-h-cards {
    width: 100%;
  }
  .flex-h-cards {
    flex-wrap: wrap;
  }
  .flex-cards-inside {
    min-width: 100% !important;

    align-items: flex-start !important;
    text-align: right !important;
    justify-content: flex-start !important;
  }
  .card-from-theree-inside {
    min-width: 100% !important;
    width: 100% !important;

    align-items: flex-start !important;
    text-align: right !important;
    justify-content: flex-start !important;
  }
}

/* Three cards End */
