.table-container {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: right;
  padding: 0;
  font-size: 16pt;
}
.table29 {
  td {
    color: #163029;
  }
  thead {
    th {
      background-color: #3a4944;
      color: #fff;
      border: 0;
      padding: 30px 15px;
      letter-spacing: 1px;
    }
  }

  td {
    border-bottom: 4px solid #f7f7f7;
    background-color: white;
    vertical-align: top !important;
  }
  tr:first-child {
    border-top: 5px solid #f7f7f7;
  }

  th {
    font-weight: bold;
  }

  tr {
    td {
      padding: 15px;
    }
  }
  tr:last-child td {
    border-bottom: 0 !important;
  }
}

body[dir="rtl"] .table29 {
  th,
  td {
    text-align: right;
  }
  td:nth-child(4) {
    text-align: center;
  }
}

body[dir="ltr"] .table29 {
  th,
  td {
    text-align: left;
  }
  td:nth-child(4) {
    text-align: center;
  }
}

@media (max-width: 768px) {
  ul li {
    margin: 1px 0 !important;
  }

  table {
    font-size: 2vw !important;
  }

  .table29 {
    thead th {
      padding: 4px;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 10px 4px;
    }
    td span {
      font-size: 1.7vw !important;
      padding-top: 2px;
    }
    tr {
      th,
      td {
        letter-spacing: 0 !important;
      }
    }
  }
  body {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .table29 {
    td {
      padding: 4px !important;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 4px;
    }
    tr td:nth-child(1),
    tr th:nth-child(1) {
      padding: 4px !important;
    }
  }
}
