.table-container {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 0;
  font-size: 16pt;
}
.table26 {
  td {
    color: #163029;
  }
  thead {
    th {
      background-color: #3a4944;
      color: #fff;
      border: 0;
      padding: 30px;
      letter-spacing: 1px;
      text-align: right;
    }
    th {
      width: calc(100% / 3);
    }
  }

  td {
    border-bottom: 4px solid #f7f7f7;
    background-color: white;
    text-align: right;
  }

  th {
    font-weight: bold;
  }

  tr {
    td {
      padding: 15px 30px;
    }
  }
  tr:last-child td {
    border-bottom: 0 !important;
  }
  .header-for-table td {
    border: 0 !important;
    color: #163029;
    background-color: #fcb44a;
    padding: 25px 30px;
    font-size: 19pt;
  }
  td:nth-child(1) {
    font-weight: 700;
  }
  .no-border {
    td {
      border: 0 !important;
    }
  }
}

body[dir="rtl"] .table26 {
  th,
  td {
    text-align: right;
  }
}

body[dir="ltr"] .table26 {
  th,
  td {
    text-align: left;
  }
}

@media (max-width: 768px) {
  ul li {
    margin: 1px 0 !important;
  }

  table {
    font-size: 2vw !important;
  }

  .table26 {
    thead th {
      padding: 10px;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 10px 7px;
    }
    td span {
      font-size: 1.7vw;
      padding-top: 2px;
    }
    tr {
      th,
      td {
        letter-spacing: 0 !important;
      }
    }
  }
  body {
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .table26 {
    td {
      padding: 10px !important;
    }

    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 5px;
    }
    tr td:nth-child(1),
    tr th:nth-child(1) {
      padding: 10px !important;
    }
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: right;
  padding: 0;
  font-size: 16pt;
}
.table27 {
  td {
    color: #163029;
  }
  thead {
    th {
      background-color: #3a4944;
      color: #fff;
      border: 0;
      padding: 30px;
      letter-spacing: 1px;
    }
  }

  td {
    border-bottom: 4px solid #f7f7f7;
    background-color: white;
  }

  th {
    font-weight: bold;
  }

  tr {
    th {
      padding: 30px;
    }
    td {
      padding: 15px 30px;
    }
  }
  tr:last-child td {
    border-bottom: 0 !important;
  }
  td:nth-child(1) {
    font-weight: 700;
  }
}

body[dir="rtl"] .table27 {
  th,
  td {
    text-align: right;
  }
}

body[dir="ltr"] .table27 {
  th,
  td {
    text-align: left;
  }
}

@media (max-width: 768px) {
  ul li {
    margin: 1px 0 !important;
  }

  table {
    font-size: 2vw !important;
  }

  .table27 {
    thead th {
      padding: 10px;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 10px 7px;
    }
    td span {
      font-size: 1.7vw;
      padding-top: 2px;
    }
    tr {
      th,
      td {
        letter-spacing: 0 !important;
      }
    }
  }
  body {
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .table27 {
    td {
      padding: 10px !important;
    }

    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 5px;
    }
    tr td:nth-child(1),
    tr th:nth-child(1) {
      padding: 10px !important;
    }
  }
}
