.table-container {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: right;
  padding: 0;
  font-size: 16pt;
}
.table36 {
  td {
    color: #163029;
  }
  thead {
    th {
      background-color: #3a4944;
      color: #fff;
      border: 0;
      padding: 45px;
      letter-spacing: 1px;
    }
  }

  td {
    border-bottom: 4px solid #f7f7f7;
    background-color: white;
  }

  th {
    font-weight: bold;
  }

  tr {
    td {
      padding: 15px 45px;
    }
  }
  tr:last-child td {
    border-bottom: 0 !important;
  }
  .header td {
    border: 0 !important;
    color: #163029;
    background-color: #fcb44a;
    font-weight: 700;
  }
  .no-border {
    td {
      border: 0 !important;
    }
  }
}

body[dir="rtl"] .table36 {
  th,
  td {
    text-align: right;
  }
}

body[dir="ltr"] .table36 {
  th,
  td {
    text-align: left;
  }
}

@media (max-width: 768px) {
  ul li {
    margin: 1px 0 !important;
  }

  table {
    font-size: 2vw !important;
  }

  .table36 {
    thead th {
      padding: 10px;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 10px 7px;
    }
    td span {
      font-size: 1.7vw;
      padding-top: 2px;
    }
    tr {
      th,
      td {
        letter-spacing: 0 !important;
      }
    }
  }
  body {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .table36 {
    td {
      padding: 10px !important;
    }

    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 5px;
    }
    tr td:nth-child(1),
    tr th:nth-child(1) {
      padding: 10px !important;
    }
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: right;
  padding: 0;
  font-size: 16pt;
}
.table37 {
  td {
    color: #163029;
  }
  thead {
    th {
      background-color: #3a4944;
      color: #fff;
      border: 0;
      padding: 45px;
      letter-spacing: 1px;
    }
  }

  td {
    border-bottom: 4px solid #f7f7f7;
    background-color: white;
  }

  th {
    font-weight: bold;
  }

  tr {
    td {
      padding: 15px 45px;
    }
  }
  tr:last-child td {
    border-bottom: 0 !important;
  }
  .header td {
    border: 0 !important;
    color: #163029;
    background-color: #fcb44a;
    font-weight: 700;
  }
  .no-border {
    td {
      border: 0 !important;
    }
  }
}

body[dir="rtl"] .table37 {
  th,
  td {
    text-align: right;
  }
}

body[dir="ltr"] .table37 {
  th,
  td {
    text-align: left;
  }
}

@media (max-width: 768px) {
  ul li {
    margin: 1px 0 !important;
  }

  table {
    font-size: 2vw !important;
  }

  .table37 {
    thead th {
      padding: 10px;
    }

    tr td:nth-child(1),
    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 10px 7px;
    }
    td span {
      font-size: 1.7vw;
      padding-top: 2px;
    }
    tr {
      th,
      td {
        letter-spacing: 0 !important;
      }
    }
  }
  body {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .table37 {
    td {
      padding: 10px !important;
    }

    tr th:nth-child(1),
    th {
      font-size: 2vw !important;
      padding: 5px;
    }
    tr td:nth-child(1),
    tr th:nth-child(1) {
      padding: 10px !important;
    }
  }
}

.tow-charts-two-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.one-chart-two-col {
  width: 50%;
}
